@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --animation-timing: 200 ease-in-out;
  --trimming-dark-primary: #181818;
  --trimming-dark-secondary: #212121;
  --trimming-light-primary: #fafafa;
  --trimming-light-secondary: #9394a5;
  --text-light-primary: black;
  --text-dark-primary: #d2d3db;
}

html,
body {
  max-width: 100%;
  /* overflow-x: hidden; */
}

#main-search {
  z-index: 999;
}

/* Disabled button styling */
.disabled {
  color: #6b6c6e !important;
  border: 1px solid #6b6c6e;
}
/* Light and Dark mode styling */
#light {
  background-color: var(--trimming-light-primary);
}

#light input {
  background-color: white;
  color: black;
}

#light #subheader > a, li{
  color: black;
}

#light svg {
  color: black;
}

#light .navigation_bar,
.product_navigation {
  background-color: var(--trimming-light-secondary);
}

#light #topNav > nav {
  color: var(--text-light-primary);
}

#light .bottom_nav {
  background-color: var(--trimming-light-secondary) !important;
}

#light .bottom_nav span {
  color: var(--text-light-primary);
}


#light .bottom_nav svg {
  color: var(--text-light-primary);
}

#light .product_navigation > ul {
  color: var(--text-light-primary);
  font-weight: 400;
}

#light .footer_info {
  background-color: var(--trimming-light-secondary);
}

#light .footer_info ul {
  color: var(--text-light-primary);
}

#light p {
  color: var(--text-light-primary);
}



#light .product_add {
  color: var(--trimming-dark-primary);
}

#light #google_btn {
  color: black!important;
  border: 1px solid black;
}

#light #login_header {
  color: #A1A7AD;
}

#light .search_item {
  background-color: white;
  color: black;
}
#light .cart_header {
  color: black;
}

#light #desktop_checkout {
  color: black;
}
#light #mobile_checkout {
  background-color: var(--trimming-light-secondary);
}

#dark {
  background-color: var(--trimming-dark-primary);
}

#dark #cart_quantity, #dark #cart_price {
  color: #A1A7AD!important;
}


#dark #sidebar > ul li {
  color: white;
}
#dark #subheader > li {
  color:#A1A7AD;
}

#dark footer li {
  color: var(--text-dark-secondary)
}

#dark #filter_list > li {
  color: white!important;
  font-weight: 400;
}


#dark .bottom_nav {
  background-color: var(--trimming-dark-secondary);
}

#dark .product_name,
.product_add {
  color: var(--trimming-light-primary);
}

#dark .product_navigation {
  background-color: var(--trimming-dark-secondary);
}

/* End Light and Dark mode */

/* Sidebar styling */
#sidebar {
  transition: opacity var(--animation-timing);
  position: fixed;
  top: 0;
  background-color: var(--trimming-dark-primary);
  color: white;
  height: 100vh;
  padding: 0.5rem 1rem;
  z-index: 999;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(27, 26, 26);
}

::-webkit-scrollbar-thumb {
  background: #87ceeb;
}

::-webkit-scrollbar-thumb:hover {
  background: #87ceeb;
}
/* End Sidebar styling */

@media screen and (max-width: 1024px) {
  #topNav {
    display: none;
  }

  #main-search {
    display: none;
  }

  .navigation-title {
    justify-content: center;
  }
}

#mobile_checkout {
  display: none;
  background-color: rgb(27, 26, 26);
}

@media screen and (max-width: 903px) {
  #desktop_checkout {
    display: none;
  }

  #mobile_checkout {
    display: block;
  }
}

.MuiBottomNavigation-root {
  background-color: rgba(39, 40, 42, 1);
  height: 70px !important;
  display: sticky;
}

.MuiButtonBase-root {
  color: white !important;
}

.MuiSvgIcon-root {
  color: #a1a7ad;
}

.MuiFormLabel-root {
  color: #a1a7ad !important;
}

#register-field:focus {
  outline: #a1a7ad !important;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  margin: 0 auto;
}

.product-img {
  width: 100%;
  height: 22vh;
  object-fit: cover;
}

.m0a {
  margin: 0 auto;
}

#sold-out {
  background-color: red;
  color: white;
}

/* Cart item styling */
.productContainer {
  width: 100px;
  height: 42px;
}

.productContainer img {
  width: 100%;
}

@media screen and (max-width: 468px) {
  html,
  body {
    max-width: 100%;
    overflow-x: clip;
  }

  .product_navigation {
    overflow-x: scroll;
  }
}

@media screen and (min-width: 1024px) {
  #bottomNav {
    display: none;
  }
}

@media (min-width: 992px) {
  .productContainer {
    width: 90px;
    height: 63px;
  }
}

@media (min-width: 768px) {
  .productContainer {
    width: 65px;
    height: 46px;
  }
}
