@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --animation-timing: 200 ease-in-out;
  --trimming-dark-primary: #181818;
  --trimming-dark-secondary: #212121;
  --trimming-light-primary: #fafafa;
  --trimming-light-secondary: #9394a5;
  --text-light-primary: #181818;
  --text-dark-primary: #d2d3db;
}

/* Light and Dark mode styling */
#light {
  background-color: var(--trimming-light-primary);
}

#light .navigation_bar,
.product_navigation {
  background-color: var(--trimming-light-secondary);
}

#light #topNav > ul {
  color: var(--text-light-primary);
}

#light .bottom_nav {
  background-color: var(--trimming-light-secondary) !important;
}

#light .bottom_nav span {
  color: var(--text-light-primary);
}

#light .bottom_nav svg {
  color: var(--text-light-primary);
}

#light .product_navigation > ul {
  color: var(--text-light-primary);
}

#light .footer_info {
  background-color: var(--trimming-light-secondary);
}

#light .footer_info ul {
  color: var(--text-light-primary);
}

#light p {
  color: var(--text-light-primary);
}

#light .product_add {
  color: var(--trimming-dark-primary);
}

#dark {
  background-color: var(--trimming-dark-primary);
}

#dark .product_name,
.product_add {
  color: var(--trimming-light-primary);
}

#dark .product_navigation {
  background-color: var(--trimming-dark-secondary);
}

/* End Light and Dark mode */

/* Sidebar styling */
#sidebar {
  transition: opacity var(--animation-timing);
  position: fixed;
  top: 0;
  background-color: var(--trimming-dark-primary);
  color: white;
  height: 100vh;
  padding: 0.5rem 1rem;
  z-index: 999;
}

/* End Sidebar styling */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(27, 26, 26);
}

::-webkit-scrollbar-thumb {
  background: #87ceeb;
}

::-webkit-scrollbar-thumb:hover {
  background: #87ceeb;
}

@media screen and (max-width: 1024px) {
  #topNav {
    display: none;
  }

  #main-search {
    display: none;
  }

  .navigation-title {
    justify-content: center;
  }
}

#mobile_checkout {
  display: none;
  background-color: rgb(27, 26, 26);
}

@media screen and (max-width: 903px) {
  #desktop_checkout {
    display: none;
  }

  #mobile_checkout {
    display: block;
  }
}

.MuiBottomNavigation-root {
  background-color: rgba(39, 40, 42, 1);
  height: 70px !important;
  display: sticky;
}

@media screen and (min-width: 1024px) {
  #bottomNav {
    display: none;
  }
}

.MuiButtonBase-root {
  color: white !important;
}

.MuiSvgIcon-root {
  color: #a1a7ad;
}

.MuiFormLabel-root {
  color: #a1a7ad !important;
}

#register-field:focus {
  outline: #a1a7ad !important;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  margin: 0 auto;
}

.product-img {
  width: 100%;
  height: 22vh;
  object-fit: cover;
}

.m0a {
  margin: 0 auto;
}

#sold-out {
  background-color: red;
  color: white;
}
