@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(27, 26, 26);
}

.MuiBottomNavigation-root {
  background-color: rgba(39,40,42,1)!important;
  height: 70px!important;
}

.MuiButtonBase-root {
  color: white!important;
}